/**************************************************
 *	General
 ***************************************************/

body {
	font-family: 'Open Sans Hebrew', 'Segoe UI Light', 'Helvetica Neue Light', sans-serif;
	color: #010101;
	font-size: 13pt;
}

a {
	text-decoration: none;
	color: #010101;
}

a:hover {
	text-decoration: underline;
	color: #010101;
}

.header-container,
.step-container.container-fluid,
.footer-container {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/**************************************************
 *	Header
 ***************************************************/

.header-container {
	border-top: 10px solid #1A63C0;
	border-bottom: 10px solid #1A63C0;
	padding-top: 25px;
	padding-bottom: 25px;
}

.header-title {
	font-size: 31pt;
	direction: ltr; /* Since this is the Hashtag */
}

.header-title a:hover {
	text-decoration: none;
}

.header-sharing-section {
	margin-top: 2px;
}

.fb-share-button,
.twitter-hashtag-button {
	margin-left: 5px;
	margin-right: 5px;
}

.twitter-hashtag-button {
	position: relative !important;
	top: 8px;
}

/**************************************************
 *	Specific Design: Steps
 ***************************************************/

.step-container {
	background: #EDEBE7 url(../images/steps/step-background.png);
	text-align: center;	
	-webkit-box-shadow: 0px 1px 1px 0px rgba(174,174,174,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(174,174,174,1);
	box-shadow: 0px 1px 1px 0px rgba(174,174,174,1);
	padding: 0px;
}

.step-container .inner-container {
	padding: 10px;
}

.step-container .title {
	font-size: 32pt;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 5px;
}

.step-container .description,
.step-container .action-container {
	padding-top: 15px;
	padding-bottom: 15px;
}

.step-container .description .note {
	color: #4e4e4e;
	font-size: 10pt;
}


.step-container a.action-button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid #010101;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	font-weight: 600;
}

.step-container a.action-button:hover {
	text-decoration: none;
}

.step-container .actions-list {
	list-style: none;
	padding-top: 21px;
}

.step-container .actions-list .action-button {
	padding-left: 35px;
	padding-right: 35px;	
}

/********** First Step **********/
.step-container.first-step .inner-container {
	background: url(../images/steps/step-1-background.png) no-repeat top left;
}

.step-container.first-step .title {
	color: #1f79cc;
}

.step-container.first-step a.facebook-user {
	background: url(../images/buttons/facebook-logout.png) no-repeat;
	background-size: 100%;
	min-width: 269px;
	height: 60px !important;
	color: #f1f1f1;
	display: inline-block;
	padding-right: 65px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 12pt;
}

.step-container.first-step .facebook-user:hover {
	text-decoration: none;
}

/********** Second Step **********/
.step-container .second-step {
	padding: 0px !important;
}

.step-container .second-step.inner-container {
	background: url(../images/steps/step-2-background.png) no-repeat bottom right;
}

.step-container .second-step .title {
	color: #185894;
}
.step-container .second-step .profie-picture {
	text-align: center;
}

.step-container .second-step .action-button {
	position: relative;
	top: 47%;
}

.step-container .second-step .overlay {
	width: 100%;
	height: 100%;
	background: #010101;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.step-container .second-step .loading-anim {
	float: left;	
	position: relative;
	z-index: 100;
	color: #ffffff;
	background-position: 50% 0% !important;
	padding-top: 35px;
	padding-left: 20px;
	text-align: center;
}

#profile-picture-filter-done-button {
	border-color: #2E7F2E !important;
	color: #2E7F2E !important;
}

.step-container .second-step .loading-anim .cssload-container {
	margin-bottom: 5px;
}

.step-container .second-step {
	border-left: 1px dashed #a1a1a1;
}

/********** Third Step **********/
.step-container .third-step {
	padding: 0px !important;
}

.step-container .third-step.inner-container {
	background: url(../images/steps/step-3-background.png) no-repeat top left;
	min-height: 150px; /* The star of david height is 138, so we'll add some extra space. */
	margin-top: -5px;
}

.step-container .third-step .title {
	color: #185894;
	padding-top: 10px !important; /* the standard 5px + the -5px we substracted in order to place the star of david. */
}

/**************************************************
 *	Footer
 ***************************************************/

.footer-container {
	background: #1E1E1E;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	
	color: #f1f1f1;
}

.footer-container a {
	color: #f1f1f1;
}

/**************************************************
 *	Misc
 ***************************************************/

.profile-picture-dialog .modal-dialog {
     width: 1000px;
 }
 
.cssload-container {
	width: 100%;
	height: 49px;
	text-align: center;
}

.cssload-tube-tunnel {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 4px solid;
	border-radius: 50%;
	border-color: rgb(255,255,255);
	animation: cssload-scale 1035ms infinite linear;
		-o-animation: cssload-scale 1035ms infinite linear;
		-ms-animation: cssload-scale 1035ms infinite linear;
		-webkit-animation: cssload-scale 1035ms infinite linear;
		-moz-animation: cssload-scale 1035ms infinite linear;
}

@keyframes cssload-scale {
	0% { transform: scale(0); transform: scale(0); }
	90% { transform: scale(0.7); transform: scale(0.7); }
	100% { transform: scale(1); transform: scale(1); }
}

@-o-keyframes cssload-scale {
	0% { -o-transform: scale(0); transform: scale(0); }
	90% { -o-transform: scale(0.7); transform: scale(0.7); }
	100% { -o-transform: scale(1); transform: scale(1); }
}

@-ms-keyframes cssload-scale {
	0% { -ms-transform: scale(0); transform: scale(0); }
	90% { -ms-transform: scale(0.7); transform: scale(0.7); }
	100% { -ms-transform: scale(1); transform: scale(1); }
}

@-webkit-keyframes cssload-scale {
	0% { -webkit-transform: scale(0); transform: scale(0); }
	90% { -webkit-transform: scale(0.7); transform: scale(0.7); }
	100% { -webkit-transform: scale(1); transform: scale(1); }
}

@-moz-keyframes cssload-scale {
	0% { -moz-transform: scale(0); transform: scale(0); }
	90% { -moz-transform: scale(0.7); transform: scale(0.7); }
	100% { -moz-transform: scale(1); transform: scale(1); }
}
